.fi-main-ctn {
    background-color: #f6f6f6;
}


/* Tambahkan shadow pada navbar/header Filament */
nav.flex.h-16.items-center {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; 
}


.fi-sidebar {
    background-color: #ffffff !important; /* atau ganti sesuai warna navbar, misal: #f9fafb */
}

/* Item box sidebar yang aktif */
.fi-sidebar-item.fi-sidebar-item-active .fi-sidebar-item-button {
    background-color: #125D72 !important;
}
/* Label teks sidebar yang aktif */
.fi-sidebar-item.fi-sidebar-item-active .fi-sidebar-item-label {
    color: #ffffff !important; /* Putih */
}
/* Ikon sidebar yang aktif */
.fi-sidebar-item.fi-sidebar-item-active svg {
    color: #d9d9d9 !important;  /* Abu PLN */
    stroke: #d9d9d9 !important;
}




/* Ubah background dan warna teks header toolbar tabel */
/* .fi-ta-header-ctn .fi-ta-header-toolbar {
    background-color: #125D72 !important;
    color: #ffffff !important;
} */

/* Pastikan semua elemen dalam toolbar juga putih */
/* .fi-ta-header-ctn .fi-ta-header-toolbar * {
    color: #ffffff !important;
} */



/* Warna teks badge notifikasi filter */
/* .fi-ta-filters-dropdown .fi-dropdown-trigger span span span {
    color: #125D72 !important; 
    font-weight: 600;
} */
/* Ubah warna background panel dropdown filter */
/* .fi-dropdown-panel {
    background-color: #125D72 !important;
    color: #ffffff !important;
} */

/* Tambahkan border kontras pada panel dropdown filter */
/* .fi-ta-filters-dropdown .fi-dropdown-panel {
    border: 3px solid #094e61d2 !important; 
    border-radius: 8px !important;
} */

/* Ubah warna teks item di dalam dropdown filter */
/* .fi-dropdown-panel * {
    color: #ffffff !important;
} */

/* Ubah warna teks pilihan pada dropdown Choices.js */
/* .choices__inner > div {
    color: #125D72 !important;
    font-weight: 600; 
} */

/* Warna teks item di dropdown list (saat memilih filter) */
/* .choices__list--dropdown .choices__item {
    color: #125D72 !important;
    font-weight: 500;
} */

/* Saat item di-hover */
/* .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #e0f3f7 !important;
    color: #125D72 !important;
}
.choices__inner .choices__item {
    color: #125D72 !important;
} */