.fi-main-ctn {
    background-color: #f6f6f6;
}


/* Tambahkan shadow pada navbar/header Filament */
nav.flex.h-16.items-center {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; 
}


.fi-sidebar {
    background-color: #ffffff !important; /* atau ganti sesuai warna navbar, misal: #f9fafb */
}

/* Item box sidebar yang aktif */
.fi-sidebar-item.fi-sidebar-item-active .fi-sidebar-item-button {
    background-color: #125D72 !important;
}
/* Label teks sidebar yang aktif */
.fi-sidebar-item.fi-sidebar-item-active .fi-sidebar-item-label {
    color: #ffffff !important; /* Putih */
}
/* Ikon sidebar yang aktif */
.fi-sidebar-item.fi-sidebar-item-active svg {
    color: #d9d9d9 !important;  /* Abu PLN */
    stroke: #d9d9d9 !important;
}


/* Tombol yang ada di header section */
header > div.flex > div > a {
    background-color: #125D72 !important; 
    color: #ffffff !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
}
/* Hover effect */
header > div.flex > div > a:hover {
    background-color: #14a2ba !important; 
    color: #ffffff !important;
}


/* Ubah background dan warna teks header toolbar tabel */
.fi-ta-header-ctn .fi-ta-header-toolbar {
    background-color: #125D72 !important;
    color: #ffffff !important;
}

/* Pastikan semua elemen dalam toolbar juga putih */
.fi-ta-header-ctn .fi-ta-header-toolbar * {
    color: #ffffff !important;
}



